body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: #b3b492
}

h1, h2, h3, h4, h5, h6{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

header{
    text-align: center;
}
header>*{
    margin: 3px auto;
}
header h1{
    color: #6f686d;
}

header h2, header h3{
    color: #b3b492;
}
nav{
    margin: 1rem auto;
    width: 75%;
    display: flex;
    justify-content: space-around
}

button{
    padding: .25rem .5rem;
    background: none;
    border: none;
    color: #aaa;
}
button:hover{
    cursor: pointer;
}
button.active{
    font-size: 1.25rem;
    color: #6f686d;
    border-bottom: 3px solid #79b791;
}

img{
    height: auto;
    max-width: 50%;
    margin: 0 25%;
    box-shadow: 4px 4px 5px 0 rgba(100,100,100,.25);
}

main div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: auto;
}

.data-descriptor{
    color: #6f686d;
    font-weight: 700;
    font-size: 1.1rem;
}

p{
    font-size: .9rem;
    font-weight: 400;
}

#dog-name{
    text-align: center;
    color: #79b791
}

section{
    max-width: 40%;
}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background: #6f686d;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

footer a{
    padding: 1rem;
    color: #e2d4ba
}
footer a:visited{
    color: #eaf9d9;
}